#root {
  width: 100%;
  text-align: center;
}

nav {
  background: #e0e1dd;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  color: #f25c00;
}

.site-title {
  font-size: 40px;
  color: inherit;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.site-title:hover {
  color: #f25c00;
  font-size: 42px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  padding: .25rem;
}

nav a img{
  width: 100px;
  height: 100px;
  margin: 1rem 2rem;
}

nav ul li a{
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
  height: 80%;
  display: flex;
  align-items: center;
  color: inherit;
  transition: 0.1s;
}

nav ul a:hover, nav ul a:active{
  color: #f25c00;
  border-bottom: 2px solid #ffc300 ;
  font-size: 1.4em;
}

header {
  display: flex;
  align-items: center;
  background: #e0e1dd;
}

header .text-side h2 {
  font-size: 34px;
}

header .text-side h2 span {
  color: #f25c00;
  font-size: 36px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f25c00;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffc300;
  font-size: 1.2em;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.body-section {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  margin: 16px;
}

.body-section-items{
 width: 100%;
 margin-bottom: 30px;
 display: flex;
 position: relative;
 flex-direction: row;
 align-items: center;
}

.body-section-items:nth-child(even) {
  flex-direction: row-reverse;
}

.body-section-items img{
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.body-section-items blockquote {
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
}


/* ToggleSection */
.container {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

#toggle-dark-theme {
  font-weight: 800;
}

.label {
  height: 30px;
  width: 90px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 60px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


/* About page */
.section-white {
  background: white;
  padding: 70px 0;
}
.col-sm-6{
  display: flex;
}

.team-item {
 text-align: center;
 background: #e0e1dd;
 margin: 20px 10px;
 padding: 50px 20px 40px 20px;
 border-radius: 8px 8px;
 -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 -ms-transition: all 0.25s ease-in-out;
 -o-transition: all 0.25s ease-in-out;
 transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: #778da9;
  color: white;
}

.team-item h3 {
  margin:  20px 0 1px 0;
  color: #f25c00;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover h3 {
  color: #e0e1dd;
}

.section-subtitle {
  white-space: pre-line;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #415a77;
  font-style: italic;
}

.team-info::after {
  background: #f25c00;
  background: -webkit-linear-gradient(
    135deg, #f25c00 0%, #ffc300 100%
  );
  background: -o-linear-gradient(
    135deg, #f25c00 0%, #ffc300 100%
  );
  background: -moz-linear-gradient(
    135deg, #f25c00 0%, #ffc300 100%
  );
  background: linear-gradient(
    135deg, #f25c00 0%, #ffc300 100%
  );
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 50px;
  height: 3px;
  margin-top: -20px;
}

.team-img {
  width: 140px;
  height: 140px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;

}

ul.team-icons {
  margin-top: 25px;
}

ul.team-icons li {
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 -ms-transition: all 0.25s ease-in-out;
 -o-transition: all 0.25s ease-in-out;
 transition: all 0.25s ease-in-out;
}

ul.team-icons li a {
  margin: 0;
  display: inline-block;
  padding: 8px 8px;
  width: 34px;
  height: 34px;
  font-size: 20px;
  line-height: 34px;
  background-color: #e0e1dd;
  border-radius: 50%;
  color: #e0e1dd;
}

ul.team-icons li a.twitter {
  background: #00acee;
}

ul.team-icons li a.facebook {
  background: #3b5998;
}

ul.team-icons li a.github {
  background: #171515;
}
ul.team-icons li a.linkedin {
  background: #0077b5;
}

.team-icons li a:hover {
  color: #dedede;
  -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 -ms-transition: all 0.25s ease-in-out;
 -o-transition: all 0.25s ease-in-out;
 transition: all 0.25s ease-in-out;
}

