#root {
  width: 100%;
  text-align: center;
}

nav {
  background: #e0e1dd;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  color: #f25c00;
}

.site-title {
  font-size: 40px;
  color: inherit;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #e0e1dd; */
}

.site-title:hover {
  color: #f25c00;
  font-size: 42px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  padding: .25rem;
}

nav a img{
  width: 100px;
  height: 100px;
  margin: 1rem 2rem;
}

nav ul li a{
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
  height: 80%;
  display: flex;
  align-items: center;
  color: inherit;
  transition: 0.1s;
}

nav ul a:hover, nav ul a:active{
  color: #f25c00;
  border-bottom: 2px solid #ffc300 ;
  font-size: 1.4em;
}
