#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav a{
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
  color: #008080;
  border-bottom: 2px solid #ffd60a;
  transition: 0.1s;
}

nav a:hover, 
nav a:active{
  color: #e6e6e6;
  border-bottom: 2px solid #ffc300 ;
  font-size: 1.4em;
}
